<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Clojure</string>
	<key>ordering</key>
	<array>
		<string>38E7ED10-6743-40EE-A86C-B645C4DAA894</string>
		<string>F8598609-EE4F-4EB3-AC79-80FB198EF2CA</string>
		<string>4317DEFD-FB99-44EB-956C-6EA72E5314D7</string>
		<string>7B019B03-16B7-4FED-89A9-FBBB4488DFB6</string>
		<string>B22B0223-9874-4EBE-807C-F99D559D108D</string>
	</array>
	<key>uuid</key>
	<string>6B2BD209-0142-4CA6-A596-9250015AD8CA</string>
</dict>
</plist>
